 @media only screen and (orientation:portrait){
         

            #container {  
            background:#0079BF;
            height: 100%;
            width: 100%;
            transition: background-color 4s ease, height 2s ease-in 1s;
            transition: opacity 0.4s linear;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          
        }
 
        @media only screen and (orientation:landscape){
             
          #container { 
            
             height: 100%;
             width: 100%; 
            
             transition: background-color 4s ease, height 2s ease-in 1s;
             background:#B04632;
             transition: opacity 0.4s linear;
             -webkit-transform: rotate(0deg);
             -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
             -ms-transform: rotate(0deg);
             transform: rotate(0deg);
          }

        }
 